.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    img {
        height: 40px;
        width: 40px;
    }
}

.articles {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .news {
        position: relative;
        width: 100%;
        max-width: 100%;

        .abstract {
            position: absolute;
            bottom: -40%;
            color: $font-color;
            background: rgba(0, 0, 0, 0.6);
            flex: 0 1 100%;
            // display: none;
            height: 50px;
            overflow: hidden;
            transition: bottom 0.2s ease-in-out 0s;
        }
        #news-img {
            display: flex;
            height: 420px;
            width: 100%;
            position: relative;
            object-fit: cover;
            max-width: 100%;
            flex: 0 1 100%;
            flex-flow: wrap;
        }
        &:hover > .abstract {
            // display: block;
            bottom: 0;
            
        }
        @include tablet {
            flex: 0 1 50%;
            max-width: 50%;

            .abstract {
                height: 75px;
            }
        }
        @include desktop {
            flex: 0 1 25%;
            max-width: 25%;

            .abstract {
                text-align: left;
                height: 100px;
            }
        }
    }
}