.main-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 600px;
    transition: all 1s ease-in-out 1s;

    .logo {
        margin-bottom: 15px;
        align-self: center;
    }
    p {
        margin-bottom: 15px;
        align-self: center;
    }
    .section-selector {
        align-self: center;
        width: 100px;
    }

    @include tablet {
        flex-direction: row;
        flex-grow: 5rem;
    }
    @include desktop {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .logo {
            padding-right: 3rem;
            flex-grow: 1.5rem;
        }
    }
}

.article-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 150px;
    // transition: all 1s ease-in-out 1s;

    .logo {
        margin-bottom: 10px;

        img {
            height: 90px;
            width: 90px;
            margin-right: 0;
            transition: margin-right 1s;
        }
    }
    p {
        margin-bottom: 10px;
        align-self: center;
        margin-left: 0;
        transition: margin-left 1s;
    }
    .section-selector {
        align-self: center;
        width: 100px;
        margin-left: 0;
        transition: margin-left 1s;
    }

    @include tablet {
        flex-direction: row;
        flex-grow: 5rem;
        justify-content: flex-start;
        padding-left: 5rem;

        img {
            margin-right: 25px;

            p, .section-selector {
                margin-left: 50px;
            }
        }
    }

    @include desktop {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .logo {
            padding-right: 3rem;
            flex-grow: 1.5rem;
        }
    }
}