@import 'sass/_variables.scss';
@import 'sass/_globals.scss';

/* ------- Modile View ------- */

select {
    width: 100px;
}

.logo {
    text-align: center;
    padding-top: 100px;
}

.select {
    text-align: center;
} 

p {
    text-align: center;
    font-weight: lighter;
    color: gray;
}d

.news {
    background-size: contain;
}


/* ------- Tablet View -------  */

@media only screen and (min-width: 600px){



}

/* ------- Desktop View ------- */

@media only screen and (min-width:1240px){



}